//
// XYO Coff To Def
//
// Copyright (c) 2014 Grigore Stefan, <g_stefan@yahoo.com>
// Created by Grigore Stefan <g_stefan@yahoo.com>
//
// The MIT License (MIT) <http://opensource.org/licenses/MIT>
//

#include "xyo-win-version--rc.hpp"
#include "xyo-coff-to-def-copyright.hpp"
#include "xyo-coff-to-def-version.hpp"

1  ICON "xyo-coff-to-def.ico"

XYO_WIN_VERSION_INFO(XYO_COFF_TO_DEF,"xyo-coff-to-def.exe","XYO Coff to Def");

