//
// XYO Version
//
// Copyright (c) 2014 Grigore Stefan, <g_stefan@yahoo.com>
// Created by Grigore Stefan <g_stefan@yahoo.com>
//
// The MIT License (MIT) <http://opensource.org/licenses/MIT>
//

#include "xyo-win-version--rc.hpp"
#include "xyo-version-copyright.hpp"
#include "xyo-version-version.hpp"

1  ICON "xyo-version.ico"

XYO_WIN_VERSION_INFO(XYO_VERSION,"xyo-version.exe","XYO Version");
